<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-navbar >
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
      
    </ion-navbar>

  
  
  </ion-header>
  
  
  <ion-content>
    <ion-card style="background:#009384" class="profile-top">
      <ion-row>
        <ion-col>
          <div class="profile-photo">
            <img style="width: 35%; height: 35%;" src="../../assets/imgs/graduates.png">
            <ion-col no-padding>
                <ion-item style="background:#009384
                ">
                  <h4 style="text-align: center" *ngIf="userData && userData.Full_Name"> 
                    {{userData.Full_Name}}</h4>
                </ion-item>
              </ion-col>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-list class="profile-detail">
        <ion-item  *ngIf="userData && userData.bio" icon-left>
            <h4><ion-icon name="quote"></ion-icon>Bio</h4>
            <p> {{userData.bio}} </p>
        </ion-item>
        <ion-item *ngIf="userData && userData.university" icon-left>
            <h4><ion-icon name="school"></ion-icon>University</h4>
            <p> {{userData.university}} </p>
        </ion-item>
        <ion-item *ngIf="userData && userData.Highschool" icon-left>
            <h4><ion-icon name="school"></ion-icon>High School</h4>
            <p> {{userData.Highschool}} </p>
        </ion-item>
        <ion-item *ngIf="userData && userData.major" icon-left>
            <h4><ion-icon name="flask"></ion-icon>Major</h4>
            <p>{{userData.major}}</p>
        </ion-item>
      <ion-item icon-left>
        <h4><ion-icon name="mail"></ion-icon>Email Address</h4>
            <p> {{email}} </p> 
      </ion-item>
    </ion-list>

    <button ion-button round (click)="logOut()" style="margin-left: 30%;">
        Log Off
      </button>

  </ion-content>
  